<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>DICE</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        <div class="min-h-screen w-screen flex bg-gray-50 dark:bg-gray-900">
            {% include 'layouts/top-navigation-bar.html' %} {% include
            'layouts/aside-drawer.html' %}

            <div class="p-4 sm:ml-64 flex flex-col items-stretch w-full ">
                <div class="lg:min-w-[900px] sm:min-w-full mx-auto">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="py-3 px-4 rounded text-white bg-red-400 flex gap-5 text-sm items-center mt-14">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                              </svg>

                            <span>{{ message }}</span></div>
                    {% endfor %}
                     {% endif %} {% endwith %}
                    <div class="mt-14 pl-5 text-4xl font-extralight dark:text-gray-100 ">
                        {% block page_header %}{% endblock %}
                    </div>
                    <div class="p-4 mt-8">
                        {% block content %}{% endblock %}
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
