alembic~=1.10.2
Flask~=2.2.3
Flask-Cors
Flask-SQLAlchemy
Jinja2
MarkupSafe
SQLAlchemy~=2.0.5.post1
Werkzeug~=2.2.3
astroid
click
dill
ecdsa
future
greenlet
isort
itsdangerous
jose~=1.0.0
lazy-object-proxy
mccabe
pip
platformdirs
pycodestyle
pycryptodome==3.17
pylint
python-dotenv~=1.0.0
python-jose
python-jose-cryptodome
setuptools
six
tomlkit
typed-ast
typing-extensions
wheel
wrapt