<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>DICE</title>
        <link rel="stylesheet" href="./static/css/main.css" />
    </head>
    <body>
        <div class="min-h-screen w-screen">
            <div
                class="min-h-screen w-screen flex flex-col justify-between items-center bg-gray-50 dark:bg-gray-900"
            >
                <div>
                    {% with messages = get_flashed_messages() %} {% if messages
                    %}
                    <div class="py-3 px-4 rounded text-white bg-red-400 flex gap-5 mt-5 text-sm items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                          </svg>

                        <span>{{ messages[0] }}</span></div>
                    {% endif %} {% endwith %}
                </div>
                {% block content %}{% endblock %}

                <div class="text-center text-xs dark:text-gray-100">
                    &copy; D.I.C.E. Systems. All Rights Reserved
                </div>
            </div>
        </div>
    </body>
</html>
