{% extends "layouts/layout.html" %}

{%block page_header%}
<h2>Create Vacancy! <small class="block text-lg mt-5"></small></h2>
{% endblock %}

{% block content %}

<div>
    <div class="md:col-span-1 mb-5">
      <div class="px-4 sm:px-0 ml-2">
        <h3 class="text-xl font-semibold leading-6 text-gray-800 dark:text-gray-100">Vacancy Information</h3>
        <p class="mt-1 text-sm text-gray-300">Enter your vacancy details below</p>
      </div>
    </div>
    <div class="mt-5 md:col-span-2 md:mt-0">
      <form action="{{ url_for('routes.vacancies_store') }}" method="POST">
        <input
            type="hidden"
            name="csrf_token"
            value="{{ csrf_token() }}"
        />

        {{ form.user_id(value=current_user.id)}}
        <div class="overflow-hidden shadow sm:rounded-md">
          <div class="bg-white px-4 py-5 sm:p-6 dark:bg-opacity-5 dark:bg-blue-500">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-12 sm:col-span-12">
                <label class="block text-sm font-bold leading-6 text-gray-900 dark:text-white" for="first-name">Title</label>
                {{ form.title(class_ = 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                dark:bg-gray-700 dark:ring-gray-600 dark: ring-2 dark:text-gray-200
                ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                focus:ring-indigo-600 sm:text-sm sm:leading-6', placeholder='eg: Assistant Lecture (4 Posts)') }}
              </div>
              <div class="col-span-12 sm:col-span-12">
                <label class="block text-sm font-bold leading-6 text-gray-900 dark:text-white" for="last-name">Description</label>

                {{ form.description(class_ = 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                dark:bg-gray-700 dark:ring-gray-600 dark: ring-2 dark:text-gray-200
                ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                focus:ring-indigo-600 sm:text-sm sm:leading-6', rows='4') }}
              </div>


              <div class="col-span-6 sm:col-span-12 lg:col-span-6">
                <label class="block text-sm font-bold leading-6 text-gray-900 dark:text-white"
                       for="street-address">Department</label>

                       {{ form.department(class_ = 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                dark:bg-gray-700 dark:ring-gray-600 dark: ring-2 dark:text-gray-200
                ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                focus:ring-indigo-600 sm:text-sm sm:leading-6') }}
              </div>

              <div class="col-span-6 sm:col-span-12 lg:col-span-6">
                <label class="block text-sm font-bold leading-6 text-gray-900 dark:text-white"
                       for="city">Location</label>
                {{ form.location(class_ = 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                dark:bg-gray-700 dark:ring-gray-600 dark: ring-2 dark:text-gray-200
                ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                focus:ring-indigo-600 sm:text-sm sm:leading-6') }}

              </div>

              <div class="lg:col-span-4 md:col-span-4 col-span-12">
                <label class="block text-sm font-bold leading-6 text-gray-900 dark:text-white" for="country">Category</label>
                {{ form.category_id(class_ = 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                dark:bg-gray-700 dark:ring-gray-600 dark: ring-2 dark:text-gray-200
                ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                focus:ring-indigo-600 sm:text-sm sm:leading-6',  autocomplete='given_name') }}

              </div>
              <div class="lg:col-span-4 md:col-span-4 col-span-12">
                <label class="block text-sm font-bold leading-6 text-gray-900 dark:text-white"
                       for="country">Type</label>
                {{ form.type_id(class_ = 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                dark:bg-gray-700 dark:ring-gray-600 dark: ring-2 dark:text-gray-200
                ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                focus:ring-indigo-600 sm:text-sm sm:leading-6',  autocomplete='given_name') }}
              </div>
              <div class="lg:col-span-4 md:col-span-4 col-span-12">
                <label class="bloboldt-sm font-bold leading-6 text-gray-900 dark:text-white" for="country">Expires
                  at</label>

                  {{ form.expires_at(class_ = 'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                  dark:bg-gray-700 dark:ring-gray-600 dark: ring-2 dark:text-gray-200
                  ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                  focus:ring-indigo-600 sm:text-sm sm:leading-6',  autocomplete='given_name') }}

              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6 dark:bg-gray-800">
            <button
                class="inline-flex items-center gap-3 justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold
                text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2
                focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
                type="submit">
              <span>Publish</span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
              </svg>

            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}